<head>
  <title>Play!</title>
  <link rel="stylesheet" href="styles.css">
</head>
<%=@game.player1.name%>: <%=@game.player1.hp%>HP
<%=@game.player2.name%>: <%=@game.player2.hp%>HP<br>

<%=@game.current_turn.name%> was hit!<br>

<%=@game.current_turn.name%>'s turn

<form action="/attack">
  <input type="submit" value="Attack!">
</form>